<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container py-5">
      <div class="card">
        <div class="card-body">
          <h3><%= comment.title %></h3>
          <p><%= comment.body %></p>

          <a href="#" class="delete" data-doc="<%= comment._id %>"
            >delete this post</a
          >
          <!-- 'data-doc' is a custom data type -->
        </div>
      </div>
    </div>

    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
